@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Square Peg', cursive;
    padding: 10vh 0 0 0;
    user-select: none;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}



.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    height: 10vh;
    background-color: #212025;
    font-size: 7vh;
    color: #fff;
    justify-content: space-between;
    padding: 0 1vw;
    transition: 1s;
    overflow: hidden;
    z-index: 99;
}

.search {
    margin: 5vh 0;
}

.search_nav {
    overflow: hidden;

    transition: 0.3s;
}


.search input,
.search_nav input {
    outline: none;
    font-size: 3vh;
    border-radius: 10px;
    border: rgba(128, 128, 128, 0.5) solid 2px;
    padding: 2vh 1vw;
    transition: 0.5s;
    user-select: auto;
}

.search_nav input {
    font-size: 2vh;
    padding: 1vh 0.5vw;
    border-radius: 5px;
}

.search input:focus,
.search_nav input:focus {
    border-color: black;
}

.button {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    user-select: none;
    margin-left: 1vw;
    padding: 1vh 1vw;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    height: 6vh;
}

.button:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search_nav .button {
    padding: 1vh 1vw;
    height: 4vh;
}

.images {
    width: auto;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;

}

.images .image {
    position: relative;
    cursor: pointer;
}

.image img {
    height: 50vh;
    margin: 2vh 0 2vh 1vw;
    padding: 0;
    transition: 0.2s;

}

.image img:hover {
    filter: blur(2px);
    transform: scale(1.05, 1.05);
}

.image .hover {
    position: absolute;
    cursor: pointer;
}


.hover img {
    height: 10vh;
    display: none;
}

.image img:hover+.hover img {
    display: unset;
}

.image .hover_mob {
    display: none;
}

.overlay {
    z-index: 99;
    height: 7vh;
    font-size: 4vh;
    transition: 0.4s ease-in-out;
    background-color: #212025;
    padding: 1vh 1vw;
    color: #fff;
    border-radius: 10px;
    user-select: none;
    position: fixed;
    bottom: -10vh;
}

.visible {
    bottom: 5vh;
}

@media screen and (max-width: 800px) {
    .navbar {
        justify-content: center;
    }

    .navbar>.search_nav {
        display: none;
    }

    .search {
        flex-direction: column;
    }

    .search input {
        padding: 1vh 2vw;
    }

    .images {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .image img:hover+.hover img {
        display: none;
    }

    .image img:hover {
        filter: none;
        transform: none;
    }


    .images .image {
        flex-direction: column;
        cursor: default;
    }

    .image img {
        height: auto;
        width: 95vw;
    }

    .image .hover_mob {
        box-sizing: border-box;
        padding: 0 2vw;
        font-size: 4vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #212025;
        color: #fff;
        border-radius: 5px;
        margin-bottom: 5vh;

    }

    .hover_mob img {
        height: 5vh;
        width: auto;
    }
}